:root {
    background-color: var(--bg-color);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 200;
    color: var(--font-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--color-brand-dark);
}

.container {
    margin: auto;
    padding: var(--container-padding);
}