:root {
    /* Section sizes */
    --nav-height: 7.5rem;
    --landing-image-height: 30.5rem;
    --landing-separator-height: 6.4rem;
    --logo-about-us-container-width: 46%;
    --logo-about-us-content-width: 85%;

    /* Colors */
    --bg-color: #FEFEFF;
    --color-green: #07A6B7;
    --font-color: #141227;




    --color-for-white-fonts: #F5F5FB;
    /* --color-light-green: #5BAF5C; */
    /* Using this color to achieve contrast accessibility targets */
    --color-light-green: #0EDDA9;
    /* Original backdrop introduced */
    /* --background-color: #32398D; */
    /* Using this color to match the one in the logo */
    /* --background-color: #324598; */
    /* Using this color to match the one in the logo in a darker flavour */
    --background-color: #2F408E;

    --intro-background-color: var(--background-color);

    /* --font-color: black; */
    --header-height: 2rem;

    --animation-period: 20s;
    --num-supported-fragments: 4;
    --animation-per-fragment: calc(var(--animation-period) / var(--num-supported-fragments));
    --subheader-line-height: 2em;

    --container-padding: 2rem;

    --header-2-bottom-spacing: 1.6em;

}