:root {
    --color-for-white-fonts: #F5F5FB;
    --backdrop-color: #7AB6D2;
    --backdrop-color-alt: #32398D;

    --intro-background-color: var(--backdrop-color-alt);

    --background-url: url(../../assets/imgs/backdrop-smaller-narrow.jpg);
    --font-color: black;
    --header-height: 3rem;

    --animation-period: 20s;
    --num-supported-fragments: 4;
    --animation-per-fragment: calc(var(--animation-period) / var(--num-supported-fragments));
    --subheader-line-height: 1.6em;

    --container-padding: 2rem;

    --header-bottom-spacing: 2em;
    --header-2-bottom-spacing: 1.6em;
}
