footer {
    background-color: white;
    color: var(--backdrop-color-alt);
    font-size: 0.875rem;
    /* padding-top: 2rem; */
}

footer .container {
    display: grid;
    padding-bottom: calc(var(--container-padding) / 2);
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "header hiring"
      "sitemap hiring"
      "social hiring"
      "copyright copyright";
}

footer a {
    text-decoration: none;
    color: var(--backdrop-color-alt);
}

footer .grid-item {
    padding-top: 1.2rem;
}

footer .header-grid-item {
    grid-area: header;
    padding: 0;
}
footer .sitemap-grid-item { grid-area: sitemap; }
footer .social-grid-item {
    grid-area: social;
    font-size: 2em;
}
footer .hiring-grid-item {
    grid-area: hiring;
    font-size: 1.2em;
    margin: auto;
    text-align: center;
}
footer .copyright-grid-item {
    margin-top: 1.2rem;
    grid-area: copyright;
    font-size: 0.75em;
    border-top: var(--backdrop-color-alt) solid 1px;
}
footer .copyright-grid-item a {
    font-weight: 700;
    color: var(--backdrop-color-alt);
}
footer .copyright-grid-item a:hover {
    text-decoration: underline;
}