section.capabilities {
    background-color: var(--color-for-white-fonts);
}

section.capabilities .container {
    flex: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "header cap1"
      "header cap2"
      "header cap3";
}

section.capabilities .container h2 {
    grid-area: header;
    margin: auto;
    padding: 1rem;
}

section.capabilities .capability h4 {
    margin-bottom: 1em;
}

section.capabilities .capability p {
    margin-top: 0.25em;
}

section.capabilities .wrapper:nth-child(1) {
    grid-area: cap1;
}

section.capabilities .wrapper:nth-child(2) {
    grid-area: cap2;
}

section.capabilities .wrapper:nth-child(3) {
    grid-area: cap3;
}

section.capabilities h2 {
    color: var(--backdrop-color-alt);
}

section.capabilities .capability {
    padding: 1em;
    margin: 1em;
    border-left: var(--backdrop-color-alt) solid 0.25em;
}

@media (max-width: 575.98px) {
    section.capabilities .container {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "header"
        "cap1"
        "cap2"
        "cap3";
    }

    section.capabilities .container h2 {
        margin: 0;
    }
}