@import url("constants.css");
@import url("base.css");
@import url("root-font-size-media.css");
@import url("container-max-width-media.css");
@import url("animations.css");

section.header .container{
    padding-bottom: 0;
    padding-top: 0;
}

section.header .logo {
    height: var(--header-height);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

section.intro {
    /* background-image: var(--background-url); */
    background-color: var(--intro-background-color);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 2rem;
    padding-top: 2rem;

    color: var(--color-for-white-fonts);

    font-size: 1.6rem;
}

section.intro .fragments {
    margin-top: 1rem;
    font-size: 0.8em;
}